/* Live */
.liveCardContent {
    font-size: 0.9rem;
}
#liveCard .title {
    font-weight: 600;
}
#liveCard .currentTime {
    color: rgba(67, 173, 243, 1);
    font-weight: 600;
}
#liveCard .data {
    font-weight: 500;
}
#liveCard .unit {
    font-size: 0.8rem;
}

/* History Graph */
.bold {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: right;
}
.center {
    text-align: center;
}
.button {
    margin: 0.2rem;
    background-color: rgba(67, 173, 243, 0.5);
    color: black;
}
.box {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.warning {
    font-size: 0.8rem;
    color: rgb(87, 87, 87);
    /* color: orangered; */
}
.alignLeft {
    text-align: left;
}
.alignRight {
    text-align: right;
}

/* About */
h2 {
    font-weight: lighter;
    margin-top: 2rem;
    border-bottom: 1px solid rgb(225, 228, 238);
    margin-bottom: 1rem;
}
.paragraph {
    padding: 0 0.5rem 0 0.5rem;
}
.paragraph p {
    text-indent: 2em;
    padding-bottom: 0.2rem;
}
.smallHref {
    font-size: 0.7rem;
}
.paragraph ul {
    /* padding-left: 2rem; */
    list-style-type: none;
}
.update,
.updateLast {
    margin: 0.5rem 0;
    padding: 0.1rem 0.2rem;
    border: solid rgba(0, 0, 0, 0.07) 0.1rem;
}
.update {
    border-left: solid rgba(0, 0, 0, 0.2) 0.3rem;
}
.updateLast {
    border-left: solid rgba(67, 173, 243, 0.7) 0.3rem;
}
.updateTime {
    font-size: 1.1rem;
    padding-right: 0.5rem;
}
.aboutCard1 .sub {
    font-size: 0.7rem;
    font-weight: lighter;
}
.aboutCard1 .cap {
    font-size: 1rem;
}
.name {
    padding-right: 0.5rem;
}
.nameCard {
    padding: 0.2rem 0;
}

.fixedInput {
    width: 14rem;
    height: 1.5rem;
}
.tight {
    line-height: 1rem;
}
.ratioBox {
    width: 90%;
}

.colMenuTitle {
    font-size: 1.1rem;
    font-weight: 500;
}
.progressStr {
    font-size: 0.85rem;
    color: rgb(67, 173, 243);
}
#dataTab {
    width: 95%;
    margin: 0 auto;
}
#dataTab .dataTable,
#dataTab .dataTableLeft {
    max-height: 32rem;
}
#dataTab .dataTable {
    overflow: auto;
}
#dataTab .dataTableLeft {
    overflow-x: scroll;
    overflow-y: hidden;
}
#dataTab .headTable {
    overflow-x: hidden;
    overflow-y: scroll;
}
#dataTab th,
#dataTab td {
    min-width: 6rem;
    text-align: center;
}
#dataTab td {
    height: 1rem;
    font-size: 0.8rem;
}
#dataTab th {
    font-size: 0.7rem;
    background-color: rgba(67, 173, 243, 0.2);
    /*     background-color: #efefef; */
    height: 3.5rem;
    color: black;
}
#dataTab .headTableLeft th,
#dataTab .dataTableLeft td {
    min-width: 8.5rem;
}
#dataTab .headTableLeft,
#dataTab .dataTableLeft {
    float: left;
}
#dataTab .dataTable tr:nth-child(2n),
#dataTab .dataTableLeft tr:nth-child(2n) {
    background-color: #efefef;
}
.settingBox .title {
    font-size: 1rem;
    border-bottom: 1px solid rgb(225, 228, 238);
    margin: 1.2rem 0rem;
}
.loadingProgressFade {
    animation-name: loadingProgressFade;
    animation-duration: 0.5s;
}
@keyframes loadingProgressFade {
    0% {
        opacity: 1;
    }
    15% {
        background: rgb(67, 173, 243);
        opacity: 1;
    }
    100% {
        background: #fff;
        opacity: 0;
    }
}
