/* 进度条 */
#loadingProgress{
    height: 28rem;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
}
.loadingItem{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 500;
    line-height: 2rem;
}


/* 整体 */
body{
    margin: 0px;
}
#container{
    width: 100%;
    height: 40rem;
    margin: 0 auto;
}


/* 上导航栏 */
#topNav{
    height: auto;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    position: fixed;
    top: 0;
    z-index: 100;
}
#headingName{
    width: 100%;
    background:rgb(67, 173, 243);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    float: left;
}
#title{
    text-align: right;
    font-style: italic;
    font-weight: bold;
    padding-right: 2rem;
    color: white;
}
#title span{
    font-weight: normal;
    color:rgba(0, 0, 0, 0.7);
}


/* 内容 */
#content{
    clear: both;
}


/* 页脚 */
#footing{
    width: 100%;
    height: 7%;
    clear: both;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 3rem;
}
#footingInfo{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: solid #ccd3db 1px;
}
#footingInfo a{
    font-size: 0.7rem;
    color:rgba(0, 0, 0, 0.7);
    text-decoration: none;
}