/* 进度条 */
#loadingProgress{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 4rem;
    z-index: 40;
}
.loadingItem{
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    line-height: 2rem;
}
#loadingPageIcon{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6rem;
}
#loadingPageIcon span{
    font-size: 0.8rem;
    font-weight: 600;
}
#loadingPageIcon img{
    width: 10rem;
    height: 10rem;
}


/* 整体 */
html, body{
    margin: 0px;
    height: 100%;
}
#container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


/* 上导航栏 */
#topNav{
    height: auto;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    position: fixed;
    top: 0;
    z-index: 20;
}
#headingName{
    width: 100%;
    background:rgb(67, 173, 243);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    float: left;
}
#title{
    text-align: right;
    font-style: italic;
    font-weight: bold;
    color: white;
}
#title span{
    font-weight: normal;
    color:rgba(0, 0, 0, 0.7);
}


/* 内容 */
#content{
    clear: both;
}


/* 页脚 */
#footing{
    width: 100%;
    clear: both;
    text-align: center;
    /* padding-top: 3rem; */
    line-height: 1rem;
    font-size: 0.7rem;
    position: relative;
    /* height: 100px; */
    /* margin-top: -100px; */
    /* clear: both; */
}
#footingInfo{
    /* margin-left: 10%;
    margin-right: 10%; */
    padding: 0.7rem;
    border-top: solid rgba(0, 0, 0, 0.07) 0.4rem;
}
#footingInfo a{
    color:rgba(0, 0, 0, 0.4);
    text-decoration: none;
}