#loadingProgressBox {
    animation-name: loadingProgressPC;
    animation-duration: 1s;
}
@keyframes loadingProgressPC {
    to {
        margin: 10rem auto;
    } /*动画结束位置*/
}
#menuButton {
    width: 2rem;
    font-size: 2rem;
    float: left;
}
.icon {
    width: 3rem;
    height: 3rem;
    float: left;
}
#title {
    font-size: 2rem;
    padding-right: 2rem;
    float: left;
}
#title span {
    font-size: 1.5rem;
}
#topMenu {
    background-color: white;
}
#heading {
    height: 9em;
    width: 100%;
    border-bottom: solid #ccd3db 3px;
}
#content {
    min-height: 75%;
}
#footing {
    height: 3rem;
    margin-top: 1rem;
}

#contentBody {
    width: 100%;
    height: 100%;
    /* padding-left: 5%;
    padding-right: 5%; */
}

#graphFrame {
    margin: 0.5rem auto;
    height: 25rem;
    width: 80%;
}

#setting {
    padding: 2rem 2rem 1rem 2rem;
}
#live {
    height: 100%;
    padding: 3rem 0;
    overflow: hidden;
}
#about {
    width: 100%;
    height: 100%;
}
#historyGraph,
#historyTable,
#download {
    padding: 1rem 0;
}

.aboutCard1,
.aboutCard2 {
    padding: 0 2rem;
    float: left;
}
.aboutCard1 {
    width: 65%;
}
.aboutCard2 {
    width: 35%;
}

.divTitle {
    font-size: 0;
    color: rgba(67, 173, 243, 0.7);
}
.box {
    line-height: 2rem;
}
.searchBox select {
    height: 2rem;
}
.button {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border: 0;
    border-radius: 0.3rem;
}
.slider {
    width: 20rem;
}
.graphBox1 {
    padding-left: 2rem;
    width: 55%;
    float: left;
}
.graphBox2 {
    padding-left: 1rem;
    margin-right: 5%;
    border: solid rgba(0, 0, 0, 0.07) 0.1rem;
    border-top: solid rgba(67, 173, 243, 0.7) 0.3rem;
    width: 40%;
    float: left;
    background-color: rgba(0, 0, 0, 0.07);
}
.graphBox3 {
    clear: both;
    padding-top: 3rem;
}

#liveMap {
    width: 30%;
    height: 30rem;
    /* background: rgb(231, 183, 183); */
    float: left;
}
#liveCard {
    width: 70%;
    float: left;
    /* left: 50%;
    position: relative; */
}
.floatCard {
    float: left;
    width: 19rem;
    padding: 1rem;
    /* right: 50%;
    position: relative; */
}
.liveCardEnd {
    clear: both;
}
#dataTab {
    padding: 0 1rem;
}
