#menuButton {
    color: white;
    background: rgba(0, 0, 0, 0);
    border: 0;
    outline-width: 0;
    width: 2rem;
    font-size: 1rem;
    float: left;
}
.icon {
    width: 1.5rem;
    height: 1.5rem;
    float: left;
}
#title {
    font-size: 1rem;
    padding-right: 1rem;
    float: right;
}
#title span {
    font-size: 0.8rem;
}
#heading {
    height: 3em;
    width: 100%;
    border-bottom: solid #ccd3db 3px;
}
#content {
    min-height: 85%;
}
#footing {
    height: 3rem;
}

#contentBody {
    width: 100%;
    height: 100%;
    padding: 0 2%;
}
#live,
#historyGraph,
#historyTable,
#download {
    padding: 1rem 0;
}
#about,
#setting {
    padding: 1rem 0 2rem 0;
}

#graphFrame {
    height: 20rem;
    width: 100%;
}

.divTitle {
    font-size: 2rem;
    color: rgba(67, 173, 243, 0.7);
}

.box {
    line-height: 2rem;
}

.button {
    padding: 0.2rem 0.7rem;
    border: 0;
    border-radius: 1.5rem;
    font-size: 0.9rem;
}
.floatCard {
    margin: 0 auto;
    width: 21.5rem;
    padding: 0.5rem;
}
.graphBox2 {
    clear: both;
}
