<p class="divTitle">数据下载</p>
<div id="dataDownloadingBox" class="searchBox">
    <div class="graphBox1">
        <div class="box">
            <Row type="flex" justify="start">
                <i-col :xs="{span:4}" :lg="{span:2}" class="bold">
                    <p>区间</p>
                </i-col>
                <i-col span="19" offset="1">
                    <label for="dtDBeg">起始</label>
                    <input type="datetime-local" id="dtDBeg" class="fixedInput" v-model="dtBegStr" required />
                </i-col>
            </Row>
            <Row type="flex" justify="start">
                <i-col :xs="{offset:5}" :lg="{offset:3}" span="20">
                    <label for="dtDEnd">结束</label>
                    <input type="datetime-local" id="dtDEnd" class="fixedInput" v-model="dtEndStr" required />
                </i-col>
            </Row>
        </div>
        <div class="box">
            <Row type="flex" justify="start">
                <i-col :xs="{span:4}" :lg="{span:2}" class="bold">
                    <p>站点</p>
                </i-col>
                <i-col span="19" offset="1">
                    <Checkbox-Group v-model="stationNoSelected">
                        <Checkbox v-for="(station, index) in stations" :key="index" :label="index"> {{ station.station_name2 }}&nbsp;&nbsp;</Checkbox>
                    </Checkbox-Group>
                </i-col>
            </Row>
        </div>
        <!-- <Row type="flex" justify="start">
            <Divider dashed></Divider>
        </Row> -->
        <div class="box">
            <Row type="flex" justify="start">
                <i-col :xs="{span:4}" :lg="{span:2}" class="bold">
                    <p>操作</p>
                </i-col>
                <i-col span="19" offset="1">
                    <button @click="requestData" :disabled="dataStatus>0" class="button">
                        读取数据
                    </button>
                    <button @click="downloadCsv" :disabled="dataStatus<2" class="button">
                        下载CSV格式
                    </button>
                </i-col>
            </Row>
        </div>
        <div class="box">
            <i-col :xs="{span:19, offset:5}" :lg="{span:21, offset:3}">
                <p class="warning">
                    注意：下载文件的编码格式为UTF-8，若使用Excel等工具打开出现乱码请先转化为GBK编码。
                </p>
            </i-col>
        </div>
    </div>
    <div class="box graphBox2">
        <Row type="flex" justify="start">
            <i-col :xs="{span:4}" :lg="{span:2}">
                <Row class="bold" type="flex" justify="start">
                    信息
                </Row>
                <br />
                <Row type="flex" justify="start" v-if="dataStatus">
                    <i-circle :percent="progress * 100" :stroke-color="dataColor" size="40">
                        <span v-if="dataEmpty==-1" class="progressStr">{{ progressStr }}</span>
                        <Icon v-if="dataEmpty==0" type="ios-close" size="30" style="color:#ff5500"></Icon>
                        <Icon v-if="dataEmpty==1" type="ios-checkmark" size="30" style="color:#5cb85c"></Icon>
                    </i-circle>
                </Row>
            </i-col>
            <i-col :xs="{span:19}" :lg="{span:21}" offset="1">
                <template v-if="dataStatus">
                    <Row type="flex" justify="start" v-for="(data, index) in dataArrays" :key="index">
                        <i-col span="2" offset="1">
                            [{{ index+1 }}]
                        </i-col>
                        <i-col span="21">
                            {{ csvInfo[index].stationInfo.station_name2 }}：{{ colNames[stationNoSelected[index]].length }}个项目，{{ data.length }}条记录。
                        </i-col>
                    </Row>
                </template>
            </i-col>
        </Row>
    </div>
</div>

<script type="text/javascript" src="js/download.js"></script>
