<p class="divTitle">数据条目</p>
<div id="dataSearchBox" class="searchBox">
    <div class="graphBox1">
        <div class="box">
            <Row type="flex" justify="start">
                <i-col :xs="{span:4}" :lg="{span:2}" class="bold">
                    <p>区间</p>
                </i-col>
                <i-col span="19" offset="1">
                    <label for="dtBeg">起始</label>
                    <input type="datetime-local" id="dtBeg" class="fixedInput" v-model="dtBegStr" required />
                </i-col>
            </Row>
            <Row type="flex" justify="start">
                <i-col :xs="{offset:5}" :lg="{offset:3}" span="20">
                    <label for="dtEnd">结束</label>
                    <input type="datetime-local" id="dtEnd" class="fixedInput" v-model="dtEndStr" required />
                </i-col>
            </Row>
        </div>
        <div class="box">
            <Row type="flex" justify="start">
                <i-col :xs="{span:4}" :lg="{span:2}" class="bold">
                    <p>站点</p>
                </i-col>
                <i-col :xs="{span:19}" :lg="{span:21}" offset="1">
                    <label for="stationOptions">站点</label>
                    <select id="stationOptions" class="fixedInput" v-model="stationName" required>
                        <option v-for="station in stations">
                            {{ station.station_name2 }}
                        </option>
                    </select>
                </i-col>
            </Row>
        </div>
    </div>
    <div class="graphBox2" v-if="isPC()">
        <div class="box">
            <Row type="flex" justify="start">
                <i-col :xs="{span:4}" :lg="{span:2}" class="bold">
                    <p>信息</p>
                </i-col>
                <i-col :xs="{span:19}" :lg="{span:21}" offset="1">
                    {{ colLen }}个项目，{{ dataLen }}条记录。
                </i-col>
            </Row>
        </div>
    </div>
    <Row type="flex" justify="start" class="graphBox3">
        <i-col span="24">
            <Divider dashed><button @click="queryDetailLimited()" :disabled="dataReady" class="button">查询</button></Divider>
        </i-col>
    </Row>
</div>

<div id="dataTab">
    <i-table :columns="columns" :data="tableData" :loading="loading" :stripe="stripe" :border="border" :size="size"></i-table>
</div>

<script type="text/javascript" src="js/historySearchBox.js"></script>
