<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=2.0,user-scalable=no">
    <title>SURFES-db</title>
    <link rel="shortcut icon" href="pic/icon2.64.ico" />
    <link rel="stylesheet" type="text/css" href="css/indexLayout.css">
</head>
<body>
    <!-- 加载外部资源 -->
    <div id="loadingProgress">
        <div id="loadingPageIcon">
            <p><img src="pic/icon2.small.png" alt="" /></p>
            <p>上海城市森林生态站数据库系统</p>
            <p>S<span>hanghai</span> UR<span>ban</span> F<span>orest</span> E<span>cosystem research</span> S<span>tation</span> <span>database</span></p>
        </div>
        <br/>
        <p class="loadingItem">正在加载资源</p>
        <progress id="loadingProgressBar" value="0" max="6"></progress> 
        <!-- Step1 vue -->
        <p class="loadingItem">加载 Vue...</p>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
        <!-- <script type="text/javascript" src="ext/vue/vue.js"></script> -->
        <script type="text/javascript" src="js/loadingStep.js"></script>
        <!-- Step2 iveiw -->
        <p class="loadingItem">加载 iVeiw...</p>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/view-design@4.1.3/dist/iview.min.js"></script>
        <!-- <script type="text/javascript" src="ext/viewui/iview.min.js"></script> -->
        <script type="text/javascript" src="js/loadingStep.js"></script>
        <!-- Step3 ECharts -->
        <p class="loadingItem">加载 ECharts...</p>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.min.js"></script>
        <!-- <script type="text/javascript" src="ext/echarts/echarts2.js"></script> -->
        <script type="text/javascript" src="js/loadingStep.js"></script>
        <!-- Step4 JQuery -->
        <p class="loadingItem">加载 JQuery...</p>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
        <!-- <script type="text/javascript" src="ext/jquery/jquery-3.4.1.js"></script> -->
        <script type="text/javascript" src="js/loadingStep.js"></script>
        <!-- Step5 myScripts -->
        <p class="loadingItem">加载 自定义的脚本和CSS...</p>        
        <script type="text/javascript" src="js/pfUtils.js"></script>
        <script type="text/javascript" src="js/layout.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/view-design@4.1.3/dist/styles/iview.css">
        <!-- <link rel="stylesheet" type="text/css" href="ext/viewui/iview.css"> -->
        <link rel="stylesheet" type="text/css" href="css/indexDetail.css">
        <script type="text/javascript" src="js/loadingStep.js"></script>
        <!-- Step6 deploy -->
        <p class="loadingItem">正在部署...</p>
    </div>
    <div id="topNav" hidden>
        <template  v-if="isPC()">
            <link rel="stylesheet" type="text/css" href="css/pc.css">
        </template>
        <template  v-else="!isPC()">
            <link rel="stylesheet" type="text/css" href="css/phone.css">
        </template>
        <Row>
            <div id="headingName">
                <template  v-if="!isPC()">
                    <button @click="menuOpen=true" id="menuButton"><Icon type="ios-menu"></Icon></button>
                    <Drawer title="菜单" :closable="false" :width="menuWidth" v-model="menuOpen" placement="left">
                        <i-menu @on-select="updateHiddenState" mode="vertical" :theme="theme" :active-name="activeName">
                            <menu-item v-for="(item, index) in items" :key="index" :name="index">
                                <icon :type="item.iconType"></icon>
                                {{ item.title }}
                            </menu-item>
                            <br/>
                        </i-menu>
                    </Drawer>
                </template>
                <div id="title">
                    <img class="icon" src="pic/icon2.dark.small.png" alt="" />
                    SURFES<span>上海城市森林生态站数据库系统</span>
                </div>
            </div>
        </Row>
        <Row v-if="isPC()">
            <div id="topMenu">
                <link rel="stylesheet" type="text/css" href="css/pc.css">
                <i-menu @on-select="updateHiddenState" mode="horizontal" :theme="theme" :active-name="activeName">
                    <menu-item v-for="(item, index) in items" :key="index" :name="index">
                        <icon :type="item.iconType"></icon>
                        {{ item.title }}
                    </menu-item>
                </i-menu>
            </div>
        </Row>
    </div>

    <div id="container" hidden>
        <div id="heading"></div>
        <div id="content">
            <div id="contentBody">
                <div id="live" hidden></div>
                <div id="historyGraph" hidden></div>
                <div id="historyTable" hidden></div>
                <div id="download" hidden></div>
                <div id="setting" hidden></div>
                <div id="about" hidden></div>
            </div>
        </div>
        <div id="footing">
            <div id="footingInfo"></div>
        </div>
    </div>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/loadingStep.js"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script> 
    <script type="text/javascript" src="js/afterLoad.js"></script>
</body>
</html>